{% extends 'base.html' %}
{% block container %}
<div class="demo">
    <header class="demo__header"></header>
    <div class="demo__content">
        {% for card in cards %}
        <div class="demo__card">
            <div id="{{ card.id }}" class="demo__card__top purple">
                <div class="demo__card__img"><img src="{{ card.img }}"/></div>
                <p class="demo__card__name">{{ card.name }}</p>
            </div>
            <div class="demo__card__btm">
                <p class="demo__card__we">{{ card.address }}</p>
            </div>
            <div class="demo__card__choice m--reject"></div>
            <div class="demo__card__choice m--like"></div>
            <div class="demo__card__drag"></div>
        </div>
        {% endfor %}
        <p class="demo__tip">Swipe left or right</p>
    </div>
</div>
{% endblock %}